<div class="education-experience-wrapper">
  <section class="education-experience-section">
    <div class="row">
      <!-- Formación Académica -->
      <div class="col-lg-6" id="educacion">
        <div class="education-content">
          <h2 class="text-primary mb-5 text-center">Formación Académica</h2>
          <div class="timeline-container">
            <div class="timeline-item">
              <div class="timeline-icon">
                <i class="fas fa-graduation-cap"></i>
              </div>
              <div class="timeline-content">
                <h3>Ingeniería Informática</h3>
                <h4 class="text-primary">Universidad Internacional De La Rioja</h4>
                <p class="text-muted date">Cursando </p>
                <p class="description">Actualmente estoy cursando la carrera de Ingeniería Informática en la Universidad Internacional De La Rioja.</p>
              </div>
            </div>

            <div class="timeline-item">
              <div class="timeline-icon">
                <i class="fas fa-graduation-cap"></i>
              </div>
              <div class="timeline-content">
                <h3>Entrenamiento GBM</h3>
                <h4 class="text-primary">GBM</h4>
                <p class="text-muted date">2022</p>
                <p class="description">Hice un entrenamiento de 6 meses en GBM la organizacion lider en informatica de latinoamerica</p>
              </div>
            </div>


            <div class="timeline-item">
                <div class="timeline-icon">
                  <i class="fas fa-graduation-cap"></i>
                  <!-- <i class="fas fa-laptop-code"></i> -->
                </div>
                <div class="timeline-content">
                  <h3>Tecnico</h3>
                  <h4 class="text-primary">Sena</h4>
                  <p class="text-muted date">Terminado</p>
                  <p class="description">Realice la certificacion tecnica de programacion de software en el Sena</p>
                </div>
              </div>


          </div>
        </div>
      </div>

      <!-- Experiencia Profesional -->
      <div class="col-lg-6" id="experiencia">
        <div class="experience-content">
          <h2 class="text-success mb-5 text-center">Experiencia Profesional</h2>


          <div class="timeline-container">
            <div class="timeline-item">
              <div class="timeline-icon success">
                <i class="fas fa-briefcase"></i>
              </div>
              <div class="timeline-content">
                <h3>Desarrollador De Software.</h3>
                <h4 class="text-success">GBM</h4>
                <p class="text-muted date">2022 - 2025</p>
                <p class="description">Participé en el desarrollo de aplicaciones web escalables, colaborando con equipos de diseño 
                    para crear interfaces centradas en el usuario. Implementé pruebas de calidad, planifiqué arquitecturas 
                    automatizadas y apliqué metodologías ágiles. Además, contribuí con ideas innovadoras, generé artefactos de 
                    conocimiento organizacional y obtuve certificaciones relevantes.</p>
              </div>
            </div>




            <div class="timeline-item">
                <div class="timeline-icon success">
                  <i class="fas fa-briefcase"></i>
                </div>
                <div class="timeline-content">
                  <h3>Front-End Developer</h3>
                  <h4 class="text-success">Tixygo</h4>
                  <p class="text-muted date">oct.2024 - dic.2024</p>
                  <p class="description">Participé en la creación y mejora de módulos de un portal web, incluyendo optimización de 
                    código y pases a producción. Colaboré estrechamente con el equipo, realicé pruebas de calidad y apliqué metodologías
                     ágiles para agilizar entregas. También contribuí en sesiones de ideación y resolución de problemas técnicos.</p>
                </div>
              </div>



              <div class="timeline-item">
                <div class="timeline-icon success">
                  <i class="fas fa-briefcase"></i>
                </div>
                <div class="timeline-content">
                  <h3>SQA Engineer + Back-End</h3>
                  <h4 class="text-success">Banistmo</h4>
                  <p class="text-muted date">jul.2024 - oct.2024</p>
                  <p class="description">Realicé pruebas de calidad y documenté procesos, identificando y corrigiendo errores. 
                    Automatizé pruebas, refactoricé repositorios y mitigé vulnerabilidades. Colaboré en la integración de Azure 
                    Pipelines y también aporté en el desarrollo backend, fortaleciendo la lógica del servidor y mejorando la eficiencia 
                    del sistema.</p>
                </div>
              </div>




              <div class="timeline-item">
                <div class="timeline-icon success">
                  <i class="fas fa-briefcase"></i>
                </div>
                <div class="timeline-content">
                  <h3>Back End Engineer</h3>
                  <h4 class="text-success">BancoAgricola</h4>
                  <p class="text-muted date">ene.2024 - jun.2024</p>
                  <p class="description">Realicé pruebas de calidad y documenté procesos, identificando y corrigiendo errores. 
                    Automatizé pruebas, refactoricé repositorios y mitigé vulnerabilidades. Colaboré en la integración de Azure 
                    Pipelines y también aporté en el desarrollo backend, fortaleciendo la lógica del servidor y mejorando la eficiencia 
                    del sistema.</p>
                </div>
              </div>



              <div class="timeline-item">
                <div class="timeline-icon success">
                  <i class="fas fa-briefcase"></i>
                </div>
                <div class="timeline-content">
                  <h3>Bot Developer</h3>
                  <h4 class="text-success">Grupo INS</h4>
                  <p class="text-muted date">sept.2023 - dic.2023</p>
                  <p class="description">Analicé las necesidades del cliente y colaboré en el diseño de soluciones automatizadas.
                     Desarrollé bots completos en Automation Anywhere, implementando flujos robustos y eficientes para optimizar
                      procesos repetitivos. Coordiné diariamente con el equipo de INS y realicé pruebas exhaustivas para asegurar
                       la calidad de cada entrega, aplicando metodologías ágiles para mejorar la eficiencia y velocidad de desarrollo.</p>
                </div>
              </div>




              <div class="timeline-item">
                <div class="timeline-icon success">
                  <i class="fas fa-briefcase"></i>
                </div>
                <div class="timeline-content">
                  <h3>Front-End Developer</h3>
                  <h4 class="text-success">Banesco Republica Dominicana</h4>
                  <p class="text-muted date">oct.2022 - mar.2023</p>
                  <p class="description">Participé en la creación del portal y módulos del proyecto, así como en la optimización del código 
                    y los pases a producción. Colaboré estrechamente con el equipo del banco para coordinar actividades diarias y asegurar
                     entregas de calidad mediante pruebas exhaustivas. Aplicamos metodologías ágiles (Scrum) para mejorar la eficiencia, y 
                     contribuí activamente con ideas y soluciones técnicas durante sesiones de trabajo colaborativo. Utilicé tecnologías
                      como Angular, Backbase, JavaScript y TypeScript para el desarrollo web.</p>
                </div>
              </div>


            <!-- Puedes agregar más experiencias aquí -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
